.footer {
  margin-bottom: 1.25rem;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__link img {
  width: 3.125rem;
  height: 3.125rem;
}

.footer__title {
  color: var(--blue);
  margin-left: 0.625rem;
  font-size: 1.5rem;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social-item {
  font-size: 2.5rem;
  cursor: pointer;
}
.gh {
  color: var(--color-icon-gh);
}

.gh:hover {
  color: rgb(87, 87, 87);
}

.in {
  color: var(--color-icon-in);
}

.in:hover {
  color: #267ed6;
}

.vk {
  color: var(--color-icon-vk);
}

.vk:hover {
  color: #2489fb;
}

.gh:active,
.in:active,
.vk:active {
  transform: translateY(1px);
}

.footer__social-item + .footer__social-item {
  margin-left: 0.5rem;
}
