@import "./normalize.scss";
@import "./fonts.scss";
@import "./variables.scss";
@import "./animations.scss";
@import "./scroll.scss";

@import "helpers.scss";

@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/footer.scss";
@import "./blocks/converter.scss";
@import "./blocks/course-shedule.scss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--website-bg);
  font-family: var(--font);
  color: var(--color-text);
}
.main,
.footer {
  margin-top: 1.25rem;
}

.main__wrapper,
.footer__wrapper {
  background-color: var(--content-bg);
  padding: 1.25rem;
  box-shadow: 0 0.5rem 1rem -0.3125rem var(--color-shadow);
}
