:root {
  --font: "Montserrat", sans-serif;
  --width-count: 50rem;
  --blue: #14509b;
  --website-bg: #ebebeb;
  --color-text: #000;
  --color-alt-text: #fff;
  --content-bg: #fff;
  --color-shadow: #b3b3b3;
  --color-active-link: orange;
  --color-border: #b3b3b3a7;
  --color-icon-gh: #24292f;
  --color-icon-in: #0a66c2;
  --color-icon-vk: #0077ff;
  --color-bg-table: #f5f4f4;
  --color-border-table: #e6e6e6a7;
  --color-alt-bg-table: #d6d6d6a7;
}
